<!DOCTYPE html>
<html>
  <!-- La balise html indique que la code contenu est du code html -->

  <head>
    <!-- Ici se trouvent les méta-données -->
    <title></title>
    <!-- Le contenu de la balise "title" nommera l'onglet de la page dans le navigateur -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/CSS"
      href="../ui/css_stylesheet/Style.css"
    />
    <!-- ce lien relie cette page html au fichier CSS où se trouve la mise en forme-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap"
      rel="stylesheet"
    />
    <!-- Ces liens importés de Google fonts chargent les polices de caractères externes -->
  </head>

  <body id="corpus">
    <header class="nav_rsv">
      <ul class="nav_list">
        <li class="site_nav_item">Home</li>
        <li class="site_nav_item">Web Design</li>
        <li class="site_nav_item">Web Developpement</li>
        <li class="site_nav_item">Networks</li>
        <li class="site_nav_item">Shell</li>
      </ul>
    </header>
    <h1 class="page_title">
      Networks > Réseaux informatiques : notions de base.
    </h1>

    <footer>
      <div class="footer_site">© code4felix.com</div>
    </footer>
    <!-- <script src="./SRI_C1B.js" type="module"></script> -->
  </body>
</html>
